<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>edziekanat</display-name>

    <!-- Filters -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>edziekanat.listener.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>ISO-8859-2</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- JSP Config -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>ISO-8859-2</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!-- Servlets -->
    <servlet>
        <servlet-name>AdminIndex</servlet-name>
        <jsp-file>/administrator/admin_index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentIndex</servlet-name>
        <jsp-file>/student/student_index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerIndex</servlet-name>
        <jsp-file>/lecturer/lecturer_index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <jsp-file>/common/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>403Error</servlet-name>
        <jsp-file>/common/403.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>404Error</servlet-name>
        <jsp-file>/common/404.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentApplications</servlet-name>
        <jsp-file>/student/applications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentWaitingApplications</servlet-name>
        <jsp-file>/student/waiting_applications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentNewApplication</servlet-name>
        <jsp-file>/student/newapplication.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentGetAdministrators</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>StudentLecturers</servlet-name>
        <jsp-file>/student/lecturers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentReceivedMessages</servlet-name>
        <jsp-file>/student/receivedmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentSentMessages</servlet-name>
        <jsp-file>/student/sentmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentNewMessage</servlet-name>
        <jsp-file>/student/newmessage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerReceivedMessages</servlet-name>
        <jsp-file>/lecturer/receivedmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerSentMessages</servlet-name>
        <jsp-file>/lecturer/sentmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerNewMessage</servlet-name>
        <jsp-file>/lecturer/newmessage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerSubjects</servlet-name>
        <jsp-file>/lecturer/subjects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerGroupMessage</servlet-name>
        <jsp-file>/lecturer/group_message.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerLecturers</servlet-name>
        <jsp-file>/lecturer/lecturers.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerStudents</servlet-name>
        <jsp-file>/lecturer/students.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerNews</servlet-name>
        <jsp-file>/lecturer/news.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LecturerSearchLecturers</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>LecturerSearchStudents</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>AdminReceivedMessages</servlet-name>
        <jsp-file>/administrator/receivedmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSentMessages</servlet-name>
        <jsp-file>/administrator/sentmessages.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewMessage</servlet-name>
        <jsp-file>/administrator/newmessage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewLecturer</servlet-name>
        <jsp-file>/administrator/newlecturer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewStudent</servlet-name>
        <jsp-file>/administrator/newstudent.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminMoveStudent</servlet-name>
        <jsp-file>/administrator/studentmove.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewPayment</servlet-name>
        <jsp-file>/administrator/newpayment.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewScholarship</servlet-name>
        <jsp-file>/administrator/newscholarship.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminCourses</servlet-name>
        <jsp-file>/administrator/courses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCourse</servlet-name>
        <jsp-file>/administrator/newcourse.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStudentsGroup</servlet-name>
        <jsp-file>/administrator/newstudentsgroup.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSubject</servlet-name>
        <jsp-file>/administrator/newsubject.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNews</servlet-name>
        <jsp-file>/administrator/news.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminNewNews</servlet-name>
        <jsp-file>/administrator/newnews.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchCourses</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchStudentGroups</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>AdminGetFaculties</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>AdminGetCourses</servlet-name>
    </servlet>
    <servlet>
        <servlet-name>AdminStudentGroups</servlet-name>
        <jsp-file>/administrator/studentsgroup.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentPayments</servlet-name>
        <jsp-file>/student/payments.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentWaitingPayments</servlet-name>
        <jsp-file>/student/waiting_payments.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentScholarships</servlet-name>
        <jsp-file>/student/scholarships.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentSubjects</servlet-name>
        <jsp-file>/student/subjects.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentTimetable</servlet-name>
        <jsp-file>/student/timetable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentTranscript</servlet-name>
        <jsp-file>/student/transcript.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendResetEmail</servlet-name>
        <jsp-file>/common/passwordresetform.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StudentNews</servlet-name>
        <jsp-file>/student/news.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>studentmydata</servlet-name>
        <jsp-file>/student/my_data.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>lecturermydata</servlet-name>
        <jsp-file>/lecturer/lecturer_my_data.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adminmydata</servlet-name>
        <jsp-file>/administrator/admin_my_data.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>sendreminder</servlet-name>
        <jsp-file>/administrator/send_reminder.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adminlockclassroom</servlet-name>
        <jsp-file>/administrator/lockclassroom.jsp</jsp-file>
    </servlet>
    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>SendResetEmail</servlet-name>
        <url-pattern>/sendresetemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndex</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentIndex</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerIndex</servlet-name>
        <url-pattern>/lecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>403Error</servlet-name>
        <url-pattern>/403</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>404Error</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentApplications</servlet-name>
        <url-pattern>/student/applications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentWaitingApplications</servlet-name>
        <url-pattern>/student/waiting_applications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNewApplication</servlet-name>
        <url-pattern>/student/newapplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentGetAdministrators</servlet-name>
        <url-pattern>/student/getadministrators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLecturers</servlet-name>
        <url-pattern>/student/lecturers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentReceivedMessages</servlet-name>
        <url-pattern>/student/receivedmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSentMessages</servlet-name>
        <url-pattern>/student/sentmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNewMessage</servlet-name>
        <url-pattern>/student/newmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerReceivedMessages</servlet-name>
        <url-pattern>/lecturer/receivedmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerSentMessages</servlet-name>
        <url-pattern>/lecturer/sentmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerNewMessage</servlet-name>
        <url-pattern>/lecturer/newmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerSubjects</servlet-name>
        <url-pattern>/lecturer/subjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerLecturers</servlet-name>
        <url-pattern>/lecturer/lecturers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerStudents</servlet-name>
        <url-pattern>/lecturer/students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerSearchLecturers</servlet-name>
        <url-pattern>/lecturer/searchlecturers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerSearchStudents</servlet-name>
        <url-pattern>/lecturer/searchstudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerNews</servlet-name>
        <url-pattern>/lecturer/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerGroupMessage</servlet-name>
        <url-pattern>/lecturer/lecturergroupmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReceivedMessages</servlet-name>
        <url-pattern>/admin/receivedmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSentMessages</servlet-name>
        <url-pattern>/admin/sentmessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewMessage</servlet-name>
        <url-pattern>/admin/newmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewLecturer</servlet-name>
        <url-pattern>/admin/newlecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewStudent</servlet-name>
        <url-pattern>/admin/newstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMoveStudent</servlet-name>
        <url-pattern>/admin/studentmove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewPayment</servlet-name>
        <url-pattern>/admin/newpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewScholarship</servlet-name>
        <url-pattern>/admin/newscholarship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSubject</servlet-name>
        <url-pattern>/admin/newsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCourses</servlet-name>
        <url-pattern>/admin/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchCourses</servlet-name>
        <url-pattern>/admin/searchcourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchStudentGroups</servlet-name>
        <url-pattern>/admin/searchstudentgroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetFaculties</servlet-name>
        <url-pattern>/admin/getfaculties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetCourses</servlet-name>
        <url-pattern>/admin/getcourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCourse</servlet-name>
        <url-pattern>/admin/addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStudentsGroup</servlet-name>
        <url-pattern>/admin/addstudentsgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStudentGroups</servlet-name>
        <url-pattern>/admin/studentgroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNews</servlet-name>
        <url-pattern>/admin/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewNews</servlet-name>
        <url-pattern>/admin/newnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPayments</servlet-name>
        <url-pattern>/student/payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentWaitingPayments</servlet-name>
        <url-pattern>/student/waiting_payments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentScholarships</servlet-name>
        <url-pattern>/student/scholarships</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSubjects</servlet-name>
        <url-pattern>/student/subjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTimetable</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTranscript</servlet-name>
        <url-pattern>/student/transcript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentNews</servlet-name>
        <url-pattern>/student/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentmydata</servlet-name>
        <url-pattern>/student/my_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturermydata</servlet-name>
        <url-pattern>/lecturer/lecturer_my_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminmydata</servlet-name>
        <url-pattern>/administrator/admin_my_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendreminder</servlet-name>
        <url-pattern>/admin/sendreminder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlockclassroom</servlet-name>
        <url-pattern>/admin/adminlockclassroom</url-pattern>
    </servlet-mapping>


    <!-- Security constraints -->
    <security-constraint>
        <display-name>HomeSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>HomePage</web-resource-name>
            <url-pattern>/home/*</url-pattern>
            <url-pattern>/classrooms/*</url-pattern>
            <url-pattern>/sendmessage/*</url-pattern>
            <url-pattern>/messages/*</url-pattern>
            <url-pattern>/receivedmessages/*</url-pattern>
            <url-pattern>/sentmessages/*</url-pattern>
            <url-pattern>/timetable/*</url-pattern>
            <url-pattern>/password/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>AdminSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>AdminsPages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/adminreservations/*</url-pattern>
            <url-pattern>/admin/newmessage/*</url-pattern>
            <url-pattern>/administrator/sentmessages/*</url-pattern>
            <url-pattern>/administrator/receivedmessages/*</url-pattern>
            <url-pattern>/adminapplicationscontroller/*</url-pattern>
            <url-pattern>/adminapplicationshistory/*</url-pattern>
            <url-pattern>/manageapplications/*</url-pattern>
            <url-pattern>/adminpayments/*</url-pattern>
            <url-pattern>/adminwaitingpayments/*</url-pattern>
            <url-pattern>/applypayment/*</url-pattern>
            <url-pattern>/sendreminder/*</url-pattern>
            <url-pattern>/admincourses/*</url-pattern>
            <url-pattern>/adminaddcourses/*</url-pattern>
            <url-pattern>/adminstudentgroups/*</url-pattern>
            <url-pattern>/adminsubjects/*</url-pattern>
            <url-pattern>/adminlecturers/*</url-pattern>
            <url-pattern>/adminstudents/*</url-pattern>
            <url-pattern>/marksstatistics/*</url-pattern>
            <url-pattern>/applicationsstatistics/*</url-pattern>
            <url-pattern>/scholarshipstatistics/*</url-pattern>
            <url-pattern>/admintimetable/*</url-pattern>
            <url-pattern>/admingetfaculties/*</url-pattern>
            <url-pattern>/admingetcourses/*</url-pattern>
            <url-pattern>/admingetfacultyforlecterer/*</url-pattern>
            <url-pattern>/admingetlecturersandstudentsgroup/*</url-pattern>
            <url-pattern>/admingetstudentsgroup/*</url-pattern>
            <url-pattern>/adminscholarships/*</url-pattern>
            <url-pattern>/admingetstudentsandscholarshiptypes/*</url-pattern>
            <url-pattern>/admingetstudents/*</url-pattern>
            <url-pattern>/adminapplications/*</url-pattern>
            <url-pattern>/admin/newnews/*</url-pattern>
            <url-pattern>/adminaddnews/*</url-pattern>
            <url-pattern>/deletestudent/*</url-pattern>
            <url-pattern>/adminlockclassroom/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>StudentSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>StudentsPages</web-resource-name>
            <url-pattern>/student/*</url-pattern>
            <url-pattern>/studenttimetable/*</url-pattern>
            <url-pattern>/studenttranscript/*</url-pattern>
            <url-pattern>/studentsubjects/*</url-pattern>
            <url-pattern>/studentscholarships/*</url-pattern>
            <url-pattern>/studentpayments/*</url-pattern>
            <url-pattern>/studentwaitingpayments/*</url-pattern>
            <url-pattern>/studentapplications/*</url-pattern>
            <url-pattern>/studentnewapplication/*</url-pattern>
            <url-pattern>/studentwaitingapplication/*</url-pattern>
            <url-pattern>/studentgetadministrators/*</url-pattern>
            <url-pattern>/studentlecturers/*</url-pattern>
            <url-pattern>/studentpartialmarks/*</url-pattern>
            <url-pattern>/studentlearningmaterials/*</url-pattern>
            <url-pattern>/student/newmessage/*</url-pattern>
            <url-pattern>/studentwaitingapplications/*</url-pattern>
            <url-pattern>/studentwaitingpayments/*</url-pattern>
            <url-pattern>/studentmydata/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>student</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>LecturerSecurityConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>LecturersPages</web-resource-name>
            <url-pattern>/lecturer/*</url-pattern>
            <url-pattern>/lecturer/newmessage/*</url-pattern>
            <url-pattern>/lecturer/sentmessages/*</url-pattern>
            <url-pattern>/lecturer/receivedmessages/*</url-pattern>
            <url-pattern>/lecturersubjects/*</url-pattern>
            <url-pattern>/lecturerseelecturers/*</url-pattern>
            <url-pattern>/lecturerseestudents/*</url-pattern>
            <url-pattern>/newlearningmaterials/*</url-pattern>
            <url-pattern>/lecturersearchstudents/*</url-pattern>
            <url-pattern>/lecturersearchlecturers/*</url-pattern>
            <url-pattern>/lecturerlearningmaterials/*</url-pattern>
            <url-pattern>/deletematerial/*</url-pattern>
            <url-pattern>/addlearningmaterials/*</url-pattern>
            <url-pattern>/myapplications/*</url-pattern>
            <url-pattern>/studentmarks/*</url-pattern>
            <url-pattern>/cancelpartialmark/*</url-pattern>
            <url-pattern>/cancelenrollment/*</url-pattern>
            <url-pattern>/studentenrollments/*</url-pattern>
            <url-pattern>/lecturermydata/*</url-pattern>
            <url-pattern>/lecturergroupmessage/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>lecturer</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- Login cofiguration -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/login</form-error-page>
        </form-login-config>
    </login-config>

    <!-- Security role definitions -->
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>student</role-name>
    </security-role>
    <security-role>
        <role-name>lecturer</role-name>
    </security-role>

    <!-- Error pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <resource-ref>
        <res-ref-name>jdbc/edziekanat</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <!-- Context parameters -->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            c:\uploads
        </param-value>
    </context-param>
</web-app>